@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>ABSA Phonebook.</p>
    <p>System split into 2 applications for scalability</p>
    <p>Front End Application - MVC model calling Backend Web API.</p>
    <p>Back End Application - Http Web App. Kestrel managed no need for IIS (but can)</p>
    <p>ORM Entity Framework Core</p>
    <p>Embedded DB Sqlite</p>
    <p>Framework .Net Core 3.1</p>
    <p>Automapper for ViewModels</p>
    <p>2 Unit Test Added in API Solution : Test API Phonebook add (One success One Fail)</p>
    <p>Both Front and Back End are Docker Compatible. Images can be created in root of both.</p>
</div>
